/* Header.css */

.header-menu {
  padding: 0;
}

.logo-item {
  padding: 0;
}

.logo-item img.retrocade-logo {
  max-height: 80px; /* Set a max-height for the logo */
  width: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Add some right margin to create space */
}

.menu-item {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
