.landing-page {
  position: relative;
}

.welcome-container {
  padding: 100px;
  text-align: center;
  background-image: url('/assets/welcome-background.webp');
  background-size: cover;
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.carousel-container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

